<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=DESKTOP-TLD7PI9\SQLEXPRESS;Initial Catalog=QuanLyKhoNhapMon;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>